
body{
    margin-top: 70px;
    text-align: center;
}

h4{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    border-bottom: solid 2px black; 
}

.seccion{
    display: block;
    margin: auto;
    border: solid 1px ;
    width: 200px;
    background: rgb(234, 231, 231);
}

#C{
    color: brown;
    border: solid brown;
}

button{
    width: 30px;
    height: 30px;
    margin: 5px auto;   
}

#div1{   
    background: white;
    margin-bottom: 15px;
    border: 1px solid;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px 5px;
    text-align: right;
    height: 15px;  
}

#div1 label{
    font-size: 20px;
    
}

#div5{
    margin-bottom: 20px;
}



