h1{
    font-size: 20px;
    font-family: sans-serif;
}

h2{
   font: 12px sans-serif;
}

header,
section,
footer,
aside,
nav,
article {
    display: block;
}

body{
    text-align: center;
    background-color: gray;
}

img{
    width: 60px;
    display: block;
    margin: 20px auto;
}

.cabecera{
    background: white;
    border: 1px solid darkslategray ;
    padding: 20px;
}

.cabecera h1{
    text-align: left;
}

.menu li{
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
}

.menu{
    background: burlywood;
    border: 1px solid black;
    text-align: left;
}

.formulario{
    width: 900px;
    border: double black;
    margin: 15px auto
}

.seccion{
    margin: 20px;
    width: 500px;
    float: left;
}

.referencias{
    /*border: 1px solid black ;*/
    width: 250px;
    margin: 25px 35px;
    float: left;
    margin-top: 200px;
}

article{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: darkseagreen;
}

article footer{
    text-align: right;
}

.pie{
    clear: both;
}

blockquote{
    border: 1px solid black;
    width: 200px;
    margin: 10px auto 40px auto;
    
}